<div class="row" ng-controller="UpdateUserCtrl">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <div class="edit-user-avatar">
        <%= render "edit_avatar", :f => f %>
      </div>

      <%= render "name_fields", :f => f %>

      <div><%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, :class => "form-control" %></div>
      <%= errors_for resource, :email %>

      <%= f.check_box :message_notification %>
      <label for="user_message_notification">
        Email me when I receive a message:
      </label>
      <%= errors_for resource, :message_notification %>

      <div class="form-group">
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      </div>

      <div class="toggle-section-text-holder">
        <span class="toggle-section-text" ng-click="showPassword=!showPassword">
          Change password
        </span>
      </div>

      <div ng-show="showPassword">
        <div class="form-group">
          <div><%= f.label :password %>
          <%= f.password_field :password, :autocomplete => "off", :class => "form-control" %></div>
          <%= errors_for resource, :password %>
        </div>

        <div class="form-group">
          <div><%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, :class => "form-control" %></div>
          <%= errors_for resource, :password_confirmation %>
        </div>
      </div>

      <div><%= f.submit "Update", :class => "btn btn-success" %></div>
      

    <% end %>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <div class="toggle-section-text-holder">
        <span class="toggle-section-text" ng-click="showCancelAccount=!showCancelAccount">
          Cancel account
        </span>
      </div>

      <div ng-show="showCancelAccount">
        <p>Unhappy? :( <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger" %></p>
      </div>
    <% end %>
  </div>
</div>