<div class="row">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <h2>Sign up</h2>
    <!-- <div>
      <h3 class="subtext">
        <small>
          You're 30 seconds away from your dream come true.
        </small>
      </h3>
    </div> -->

    <!-- <div class="devise-facebook-link">
      <i class="fa fa-facebook-square"></i>
      <%= link_to "Sign up with Facebook", user_omniauth_authorize_path(:facebook) %>
    </div> -->

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= render "name_fields", :f => f %>

      <div class="input-field">
        <div><%= f.label :email %>
        <%= f.email_field :email, :class => "form-control" %></div>
        <%= errors_for resource, :email %>
      </div>

      <div class="input-field">
        <div><%= f.label :password %>
        <%= f.password_field :password, :class => "form-control", :placeholder => "At least 8 characters" %></div>
        <%= errors_for resource, :password %>
      </div>

      <div>
        <%= f.hidden_field :referred_by_user_id, value: params[:r] %>
      </div>

      <div><%= f.submit "Sign up", :class => "btn btn-success" %></div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>